<div class="jumbotron-container">
    <div class="jumbotron-wrapper">
        <div class="jumbotron-header">
            <br>
            <br>
            <p class="text-align-center fw-700 fz-45">
                <strong>"AqGrads"</strong>
            </p>
            <p class="text-align-center fw-700 fz-45">
                <strong>Ақтөбе лицейі түлектерінің</strong>
            </p>
            <p class="text-align-center fw-700 fz-45">
                <strong>қоғамдық қоры</strong>
            </p>
        </div>
        <div class="jumbotron-body fz-24">
            <p class="text-align-center">
                Қазақ-Түрік Лицейі
            </p>
            <p class="text-align-center">
                <span style="color:rgb(120, 120, 120)">(1993-2016)</span>
            </p>
            <p class="text-align-center">
                Білім Инновация Лицейі
            </p>
            <p class="text-align-center">
                <span style="color:rgb(120, 120, 120)">(2016 жылдан бері)</span>
            </p>
        </div>
        <div class="jumbotron-footer">
            <div class="jumbotron-footer-item">
                <p class="text-align-center fw-700"><strong class="fz-62">1200</strong></p>
                <hr>
                <p class="text-align-center">лицей түлектерінің саны</p>
            </div>
            <div class="jumbotron-footer-item">
                <p class="text-align-center fw-700"><strong class="fz-62">+150млн</strong></p>
                <hr>
                <p class="text-align-center">түлектермен жиналған қаржылай көмек</p>
            </div>
            <div class="jumbotron-footer-item">
                <p class="text-align-center"><strong class="fz-62">2200</strong></p>
                <hr>
                <p class="text-align-center">өткізілген спорттық және қоғамдық іс-шаралар саны</p>
            </div>
        </div>
    </div>
</div>