@media (max-width:2560px) {
    p{
        color: white;
    }
    .jumbotron-container{
        display: flex;
        width: 100%;
        background-image: url("https://www.lyceum-arystan.kz/doc/en/small/540.jpg");
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .jumbotron-wrapper{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.841);
    }
    .jumbotron-header{
        margin-bottom: 40px;
        p{
            margin: 0;
            padding: 0;
        }
    }
    .jumbotron-body{
        p{
            height: 36px;
            margin: 0;
            padding: 0;
        }
    }
    .jumbotron-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .jumbotron-footer-item{
        width: 360px;
    }
}