<div class="bg-primary/5 py-12">
    <div class="container mx-auto px-4 text-center">
        <h3 class="text-xl font-medium mb-4 text-gray-700">{{'Landing-Page.Plans.CANCELATION.HEADER' | translate}}</h3>
        <a href="https://my.cloudpayments.ru/"
        class="text-primary hover:text-gold transition-colors duration-300 hover:underline inline-flex items-center"
            target="_blank" rel="noopener noreferrer">
            {{'Landing-Page.Plans.CANCELATION.BODY' | translate}}
        </a>
    </div>
</div>