@media (max-width:2560px) {
    .price-list-container{
        display: flex;
        flex-wrap: wrap;
    }
    .price-card{
        margin: 45px 30px;
        background-color: white;
        border: 1px solid #e0e6ed;
    }
    ::ng-deep .p-card-footer{
        justify-items: center;
    }
    .footer-button{
        color: white;
        background-color: rgb(115, 188, 5);
        font-size: 24px;
        font-weight: 700;
        border-radius: 30%;
        width: 110px;
    }
}