<div class="flex flex-wrap justify-center gap-8" id="price-list-section">
    @for (item of items; track item.title; let i = $index) {
    <div
        class="bg-white border border-gray-300 shadow-lg rounded-xl p-6 w-full sm:w-[48%] lg:w-[30%] transition-transform transform hover:scale-105">
        <div class="overflow-hidden rounded-lg">
            <img [src]="item.imgSrc" alt="Card" class="w-full object-cover rounded-md" />
        </div>
        <div class="text-center my-4">
            <p class="text-xl font-bold text-gray-800">{{ item.title }}</p>
            <p class="text-gray-500">{{ item.subtitle }}</p>
        </div>
        <div class="flex justify-center mt-4">
            <button
                class="bg-green-500 text-white text-lg font-semibold py-2 px-6 rounded-full hover:bg-green-600 transition"
                (click)="showDialog(i)">
                Жазылу
            </button>
        </div>
    </div>

    <p-dialog header="{{ item.title }}" [modal]="true" [visible]="activeDialog === i"
        (visibleChange)="onDialogVisibilityChange($event, i)"
        [style]="{ width: '25rem', borderRadius: '12px', boxShadow: '0 4px 20px rgba(0, 0, 0, 0.2)' }">
        <span class="text-gray-600 block mb-6">
            Сіз <b>{{ item.title }}</b> пакетін таңдадыңыз. {{item.subtitle}}
        </span>

      
        <div class="flex items-center gap-4 mb-4">
            <label for="name-{{ i }}" class="font-semibold w-24">Name</label>
            <input pInputText [(ngModel)]="userData.name" id="username-{{ i }}"
                class="flex-auto border border-gray-300 rounded-lg px-3 py-2 text-gray-700 font-medium shadow-sm focus:ring  transition" />
        </div>

        <div class="flex items-center gap-4 mb-4">
            <label for="surname-{{ i }}" class="font-semibold w-24">Surname</label>
            <input pInputText [(ngModel)]="userData.surname" id="surname-{{ i }}"
                class="flex-auto border border-gray-300 rounded-lg px-3 py-2 text-gray-700 font-medium shadow-sm focus:ring  transition" />
        </div>

        <div class="flex items-center gap-4 mb-4">
            <label for="graduated-year-{{ i }}" class="font-semibold w-24">Graduated Year</label>
            <input type="text" maxlength="4" [(ngModel)]="userData.graduatedYear" id="graduated-year-{{ i }} "
                class="no-spinner flex-auto border border-gray-300 rounded-lg px-3 py-2 text-gray-700 font-medium shadow-sm focus:ring  transition" (keydown)="validateNumber($event)" />
        </div>

        <div class="flex items-center gap-4 mb-4">
            <label for="phone-number-{{ i }}" class="font-semibold w-24">Phone number</label>
            <input type="tel" placeholder="+7 (XXX) XXX-XXXX" [(ngModel)]="phoneNumber" (input)="formatPhoneNumber($event)" (keydown)="validateNumber($event)" id="phone-number-{{ i }}"
                class="flex-auto border border-gray-300 rounded-lg px-3 py-2 text-gray-700 font-medium shadow-sm focus:ring  transition" />
        </div>

        <div class="flex items-center gap-4 mb-6">
            <label for="email-{{ i }}" class="font-semibold w-24">Email</label>
            <input pInputText [(ngModel)]="userData.email" id="email-{{ i }}"
                class="flex-auto border border-gray-300 rounded-lg px-3 py-2 text-gray-700 font-medium shadow-sm focus:ring  transition" />
        </div>

       
        <div class="flex justify-end gap-2">
            <p-button label="Болдырмау" severity="secondary" class="rounded-lg px-4 py-2"
                (click)="activeDialog = null" />
            <p-button label="Растау" class="rounded-lg px-4 py-2   text-white transition"
                (click)="activeDialog = null" />
        </div>
    </p-dialog>

    }
</div>