:root{
    .text-align-center{
        text-align: center;
    }
    .fw-700{
        font-weight: 700;
    }
    .fz-45{
        font-size: 45px;
    }
    .fz-24{
        font-size: 24px;
    }
    .fz-32{
        font-size: 32px;
    }
    .fz-62{
        font-size: 62px;
    }
}
body{
    margin: 0;
    padding: 0;
}

