<div class="footer-container">
    <section>
        <div class="row">
            <div class="game-section">
                <h4 class="h4">Games</h4>
                <ul class="games-ul">
                    <li>Demon Souls</li>
                    <li>Bloodborne</li>
                    <li>Sekiro</li>
                    <li>Elden Ring</li>
                </ul>
            </div>
            <div class="useful-links-section">
                <h4 class="h4">Useful Links</h4>
                <ul class="useful-links-ul">
                    <li>Dark Souls 1 Wiki</li>
                    <li>Dark Souls 2 Wiki</li>
                    <li>Dark Souls 3 Wiki</li>
                </ul>
            </div>
            <div class="contact-section">
                <h4 class="h4">Contact</h4>
                <ul class="contact-ul">
                    <li><i class="fas fa-home mr-3"></i>Astana, AS 10012, KZ</li>
                    <li><i class="fas fa-envelope mr-3"></i>zhanik.planet1&#64;gmail.com</li>
                    <li><i class="fas fa-phone mr-3"></i>+7 7472650526</li>
                </ul>
            </div>
        </div>
    </section>
    <hr class="hr">
    <section>
        <div class="row">
            <div class="copy-right">
                © 2025 Copyright: Zhankozy Abdisattar
            </div>
            <div class="social-media">
                <li><i class="fas fa-user-tie"></i></li>
                <li><i class="fab fa-linkedin"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </div>
        </div>
    </section>
</div>